* {
    margin: 0;
}

/* Font - Imprima */
@font-face {
    font-family: IstokWeb;
    src: url(Fonts/IstokWeb-Bold.ttf);
}

/* Altura do site */
body {
    height: 2000px;
    font-family: IstokWeb;

}



/* Cabeçario laranja */
.Orange-navbar {
    display: flex;

    /* border: 2px solid red; */

    width: 100%;
    height: 5%;
    padding: 10px 0;
    background-color: #ff8400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.box-search,
.Perfil-Carrinho {

    display: inline-block;
    height: 100%;
    width: 33%;
    margin: 0px 10px 0px 10px;

    /* border: 2px solid red; */
}

.box-logoMarca {
    display: flex;
    height: 100%;
    width: 33%;
    margin: 0px 10px 0px 10px;

    /* border: 2px solid red; */
}

/* Imagem da logo que fica no canto esquerdo */
.logoMarca {
    /* border: 2px solid red; */
    margin: auto;

    width: 40%;

}

/* Pesquisa */
.search {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    justify-content: flex-end;
    margin-top: 6%;

}

/* Logo que fica do lado da Search */
.logoInvertida {
    width: 17%;
    display: flex;
    margin-top: -14.5%;
    margin-left: 90%;
}


/* Espaçamento entre a imagem do perfil e carrinho */
.profile-Space {
    /* border: 1px solid red; */

    width: 90%;

    display: inline-block;
    align-items: right;
    justify-content: right;

}

.profile,
.cart {
    display: flex;
    width: 68px;
    height: 46px;
    margin: 0px 20px 0px 20px;
    display: inline-block;
    margin-top: 25px;

}

/* Texto de entrar ou se cadastrar */
.text {
    font-size: 15px;
    margin-top: -50px;
    margin-left: 76px;
}

/* Icone do Perfil */
.profile {
    margin-left: 20%;
}
.profileButton{
    margin-left: 20%;
    border: none;

}

/* Icone do Carrino */
.cart {
    margin-top: -90px;
    margin-left: 140px;

}



/* Cabeçario preto */
.Black-navbar {
    background-color: black;

    max-width: 100%;
    height: 2.8%;

    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Faz parte do Cabeçario preto, que faz os botoes funcionarem */
.Black-navbar button {
    margin-top: 3%;
    margin: 18px;
    border: none;

    background-color: transparent;

}

/* Nomes que ficam no Cabeçario preto  */
.Black-navbar a {
    text-decoration: none;
    color: white;
}

/* A borda que fica em baixo dos nomes que estão no cabeçario preto  */
a:hover {
    border-bottom: 2px solid white;
}


/* Banner do site  */
.bannerDoSite {
    width: 100%;
}


/* Mais Procurados */

/* Parte dos mais procurados */
.maisProcurados {
    background-color: #8000cf;
    font-size: 24px;
    border: 4px solid #ff8400;
    border-radius: 20px;
    /* border: 2px solid red; */
    margin-left: 13.5%;
    margin-right: 13.5%;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/* Texto dentro dos Mais procurados*/
.textoDosProcurados {
    width: 50%;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
    /* margin-left: 80px;
    margin-top: 20px; */
}

/* Imagem que fica do lado do texto dos mais procurados */
.imagemDosProcurados {
    width: 7%;
    display: flex;
    margin-top: -7%;
}

.Space-maisProcurados {
    display: flex;
    text-align: center;
    justify-content: center;
}


/* The Last of Us */

/* Imagem e texto do the last of us */
.theLastofUs, .mouseRazer, .cadeiraGamer {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
    
    width: 13%;
    margin-top: 6%;
    border: 5px solid #ff8400;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

/* Imagem do Jogo */
.imagemTheLastOfUs {
    width: 70%;
    height: 50%; 
}

/* Preço do jogo */
.preço {
    width: 130px;
    margin-left: 30px;
    margin-top: 35%;
}

.botaoProdutos {
    color: white;
    background-color: #8000cf;
    border: 3px solid #ff8400;
    border-radius: 20px;
    margin-top: 20px;

    padding: 10px;
    width: 200px;
}

/* Mouse da razer */


/* Imagem do mouse da Razer */
.imagemDaRazer{
    width: 70%;
    height: 50%;
}

/* Preço do mouse  */
.preçoDoMouse{
    margin-top: 25%;
}

/* Imagem da Cadeira */
.imagemDaCadeira{
    width: 70%;
    height: 50%;
}

/* O preço da cadeira */
.preçoDaCadeira{
    margin-top: 25%;
}

/* Consoles */
.consoles{
    background-color: #8000cf;
    font-size: 34px;
    border: 4px solid #ff8400;
    border-radius: 20px;
    margin-left: 13.5%;
    margin-right: 13.5%; 

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border: 2px solid red; */
    margin-top: 8%;
    height: 3.8%;
}

.spaceConsoles{
    display: flex;
    text-align: center;
    justify-content: center;
}

.textoDoConsole{
    display: flex;
    width: 25%;
    margin-top: -4.5%;
    margin-left: 18.5%;
}

/* Logo que fica do lado dos consoles */
.imagemDosConsoles{
    width: 7%;
    margin-top: -1%;
}

/* Css da parte do PS5 */
.ps5, .nintendo, .xbox{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
    
    width: 13%;
    margin-top: 6%;
    border: 5px solid #ff8400;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

/* Imagem do Ps5 */
.imagemDoPs5{
    width: 70%;
    height: 50%;
}

/* Preço do Ps5 */
.preçoDaPs5{
    margin-top: 20%;
}

/* Imagem da foto do Nintendo */
.imagemDoNintendo{
    width: 70%;
    height: 50%;
}

.preçoDoNintendo{
    margin-top: 20%;
}

.imagemDoXbox{
    width: 70%;
    height: 50%;}

.preçoDoXbox{
    margin-top: 18%;
}

/* Cabeçario dos Jogos */
.jogos{
    background-color: #8000cf;
    font-size: 34px;
    border: 4px solid #ff8400;
    border-radius: 20px;
    margin-left: 13.5%;
    margin-right: 13.5%;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    /* border: 2px solid red; */
    margin-top: 8%;
    height: 3.8%;
}
/* Logo que fica dentro do cabeçario de jogos */
.logoDoJogos{
    width: 7%;
    margin-top: -1%;
}

/* Texto que fica no cabeçario */
.textoDosJogos{
    display: flex;
    width: 18.5%;
    margin-left: 19.2%;
    margin-top: -5%; 
}

.spaceJogos{
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Star Wars */

.starWars, .pokémon, .gta{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-right: 7%;
    
    width: 13%;
    margin-top: 6%;
    border: 5px solid #ff8400;
    border-radius: 30px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    padding: 2%;
    padding-top: 2.2%;
}

/* Imagem do Star Wars */
.imagemdoJogoStarWars{
    width: 70%;
    height: 50%;
}



/* Preço do Star Wars */
.preçoDoStarWars{
    margin-top: 13%;
}


/* Imagem do jogo pokemon */
.imagemDoPokemon{
    width: 148%; 
    height: 50%;
    margin-left: -22%;
}

/* Texto do jogo pokemon */
.textoDosProdutos{
    font-size: 15px;
    height: 17%;
    margin-top: 3.8%;
}

/* Preço do jogo pokemon */
.preçoDoPokemon{
    margin-top: 13%;
}

/* Imagem do Gta */
.imagemDoGta{
    width: 65%; 
    height: 50%;
}

/* Preço do Gta */
.preçoDoGta{
    margin-top: 13%;
}

/* Departamentos */
.departamentos{
    /* border: 2px solid red; */
    margin-top: 5%;

}


.imagemDepartamento{
    width: 44%;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
}

.departamentosplay{
    margin-top: 5.6%;
    margin-left: 6.5%;
}

.departamentosnintendo{
    display: flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -18.5%;
}

.departamentosxbox{
    margin-top: -12%;
    margin-left: 43%;
}

.departamentosJogos{
    margin-top: 5%;
    margin-left: 6.5%;
}

.departamentosPerifericos{
    margin-top: -18.6%;
    margin-left: 37.4%;
}

.departamentosNovidades{
    margin-top: -18.6%;
    margin-left: 67.6%;
}










    /* Conteudo Modal */

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-1{
    margin-top: 4%;
    border: 2px solid #ff8400;
    border-radius: 20px;
    bottom: 50%;
    left: 65%;
}

.alinhar-conteudo{
    text-align: center;
    align-items: center;
    margin: auto;
}

.close-modal{
    cursor: pointer;

    margin-left: 92%;

    background-color: transparent;
    color: #8000cf;
    border: none;

    
    font-size: 18px;
}

.open-cadastro{
    cursor: pointer;

    background-color: #8000cf;
    border: 2px solid #ff8400;
    border-radius: 20px;
    color: white;

    margin-top: 4%;
    padding: 3% 6%;
}

.open-cadastro:hover{
    background-color: #ff8400;
    border: 2px solid #8000cf;
}

h1{
    margin-top: 4%;
    font-size: 16px;
    padding: 2px;
}

a{
    text-decoration: none;
    color: #8000cf;
}

a:hover{
    text-decoration: underline;
}